<% if paragraph.background_image.present? %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='transparent'>
<%= image_tag paragraph.background_image.url, class: 'background-image' %>
</div>
<div class='lghk-wrapper' >
  <div class='row scaff_row'>
    <div id='content-wrapper'>
      <div class='nav-helper'></div>
      <div class='yield-container yield-container-helper'>
        <div class="contentr-area ui-sortable" data-contentr-area="body" data-contentr-page="2">
          <div>
            <div>
<% else %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class='lghk-wrapper' >
  <div class='row scaff_row'>
    <div id='content-wrapper'>
      <div class='nav-helper'></div>
      <div class='yield-container yield-container-helper'>
        <div class="contentr-area ui-sortable" data-contentr-area="body" data-contentr-page="2">
          <div>
            <div>
<% end -%>
