            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='transparent'>
  <%= render partial: 'contentr/paragraphs/contentr/gallery_slider', locals: {paragraph: paragraph} %>
</div>
<div class='lghk-wrapper' >
  <div class='row scaff_row'>
    <div id='content-wrapper'>
      <div class='nav-helper'></div>
      <div class='yield-container yield-container-helper'>
        <div class="contentr-area ui-sortable" data-contentr-area="body" data-contentr-page="2">
          <div>
            <div>
