<%= content_for(:title) do %>
	Gallerien
<% end -%>
<div class='row'>
	<div class='span inset'>
		<%= link_to new_backend_landgasthaus_gallery_path do %>
			<div class='btn btn-inverse new_btn'> + Neue Gallerie</div>
		<% end -%>
	</div>
</div>
<div class='form_row'>
  <div class='form_panel'>
    <%= table_for Gallery %>
  </div>
</div>
