<% content_for :title do %>
  Catering Events
<% end -%>
<% content_for :subnav do %>
  <%= link_to new_backend_catering_event_path do %>
    <div class='btn btn-inverse btn-small'> + Neues Event</div>
  <% end -%>
<% end -%>
<div class='form_row'>
  <div class='form_panel'>
    <%= table_for Event %>
  </div>
</div>
