<div class='yield-nav'>
  <div class='divider_area'>
    <%= image_tag 'navdivider.png', class: 'navdivider rotated-180' %>
  </div>
  <ul class='custom_nav' type='none'>
    <% if @paragraphs.present? %>
      <% @paragraphs.each do |anchor| %>
        <% if anchor.data['link_title'] != nil %>
          <% name = href = anchor.data['link_title'] %>
          <li><a href='#<%= href %>'><%= name.html_safe %></a></li>
        <% end -%>
      <% end -%>
    <% end -%>
  </ul>
</div>
