<% content_for :icon do %>
  <%= fa_icon 'home 2x' %>&nbsp;
<% end -%>
<% content_for :title do %>
  Startseite
<% end -%>

<script type="text/javascript">
  jQuery(function($){
    typographical_effects(true);

    scroll_scroller = function(){
      $('body').removeClass('noScroll')
      if($(window).scrollTop() == 0){
        $('html, body').animate({
          scrollTop: $(window).height() - 54
        }, 1500);
      }
    };

    $(document).ready(function(event){
      window.location = '#';
      $('body').addClass('noScroll')
      height = $(window).height() - 55
      $('.scroller-wrapper').css('height', height + 'px')
      window.setTimeout(function(){
        scroll_scroller()
      }, 3000);
    });
  })
</script>
<script type="text/javascript">
  $(function() {

    var Page = (function() {

      var $navArrows = $( '#nav-arrows' ),
        $nav = $( '#nav-dots > span' ),
        slitslider = $( '#slider' ).slitslider( {
          onBeforeChange : function( slide, pos ) {

            $nav.removeClass( 'nav-dot-current' );
            $nav.eq( pos ).addClass( 'nav-dot-current' );

          }
        } ),

        init = function() {

          initEvents();

        },
        initEvents = function() {

          // add navigation events
          $navArrows.children( ':last' ).on( 'click', function() {

            slitslider.next();
            return false;

          } );

          $navArrows.children( ':first' ).on( 'click', function() {

            slitslider.previous();
            return false;

          } );

          $nav.each( function( i ) {

            $( this ).on( 'click', function( event ) {

              var $dot = $( this );

              if( !slitslider.isActive() ) {

                $nav.removeClass( 'nav-dot-current' );
                $dot.addClass( 'nav-dot-current' );

              }

              slitslider.jump( i + 1 );
              return false;

            } );

          } );

        };

        return { init : init };

    })();

    Page.init();

    /**
     * Notes:
     *
     * example how to add items:
     */

    /*

    var $items  = $('<div class="sl-slide sl-slide-color-2" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1"><div class="sl-slide-inner bg-1"><div class="sl-deco" data-icon="t"></div><h2>some text</h2><blockquote><p>bla bla</p><cite>Margi Clarke</cite></blockquote></div></div>');

    // call the plugin's add method
    ss.add($items);

    */

  });
</script>
