textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus{
  box-shadow:inset 0 1px 1px $highlightColor, 0 0 8px darken($highlightColor, 10%) !important;
  border:$highlightColor;
}
#content-wrapper{
  .sub_nav{
    background-color: grey;
  }
  .centered{
    text-align: center;
  }
}

.gallery_image_present{
  width:100%;
  display: none;
}

.gallery_image_line{
  display: inline-block;
  height:auto;
  margin-top:40px;
  background-color:#C3C3C3;
  width:100%;
  padding:20px;
}

.gallery_image_box{
  background-color:white;
  padding:20px;
  margin-left:20px;
  border:1px solid black;
  width:300px;
  img{
    width:100%;
    height:100%;
  }
  float:left;
}

.gallery_image_box_btn_panel{
  padding:10px;
  border-top:1px solid black;
  margin-top:20px;
}

.system_message_area{
  padding:20px;
  width:100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  display: inline-block;
  .alert{
    width:auto;
    margin-bottom:0px !important;
  }
  .notice{
    width:auto;
    margin-bottom:0px !important;
  }
}
.control-label{
  text-align: left;
  font-size:12px;
  font-weight:bold;
}
h4.red{
  color: $highlightColor;
}

.datepicker-dropdown{
  .next{
    cursor: pointer;
  }
}
