th[data-tabulatr-column-name=show_type]{
  text-align: center !important;
}

th[data-tabulatr-column-name=buttons]{
  text-align: center !important;
}

th[data-tabulatr-column-name=total_sold]{
  text-align: center !important;
}

.tabulatr {
  padding: 10px;

  .submit-table {
    display: none !important;
  }

  .pagesize_select {
    margin-left: 10px;
  }

  .tabulatr_form {
    margin-bottom: 6px;

    input:focus, form textarea:focus {
      border-color: $blue;
      border-width: 1px;
    }
  }


  input[type=image] {
    // Bootstrap has a braindead global width:210px for input...
    width: auto !important;
  }

  input[type=text] {
    width: 10px;
  }


  .tabulatr_table {
    clear: both;
    @extend .table-striped;
    @extend .table-bordered;
    margin: auto;
    width: 99%;


    thead tr td {
      background:transparent image-url('admin/body-background.png') repeat;
      height: 20px;

      input {
        font-family: 'Cabin Condensed', sans-serif;
        font-size: 11px;
        height: 10px;
        margin: auto;
      }

      select {
        margin: 0;
        height: 20px;
      }
    }

    thead tr th input {
      position: absolute;
      margin-top: -3px;
    }

    tr th {
      height: 30px;
      background-color: $grayDark;
      color: $white;
    }

    tr td {
      vertical-align: middle;
      overflow: hidden;
      padding: 7px;
    }
  }

  .select-controls {
    padding-left: 150px;
  }

  form > .table-controls {
    clear: left;

    .info-text {
      margin: 16px 15px 0 0;
      text-transform: capitalize;
      color: $gray;
      font-size: 11px;
      float: right;
    }

    .paginator {
      margin: 16px 0 5px -5px;
      font-size: 12px;
      float: left;

      select {
        margin-left: 16px;
        width: 60px !important;
        height: 20px;
      }

      input[type="text"] {
        //font-family: 'Cabin Condensed', sans-serif !important;
        margin: 2px;
        font-size: 12px !important;
        height: 10px;
        width: 20px !important;
      }

      img, input[type=image] {
        margin-left:5px;
        margin-right:5px;
        padding-bottom: 2px;
      }
    }
  }
}
