.col-lg-10{
  box-sizing: border-box;
  display: block;
  float: left;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-left:2%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 70%
}
.col-lg-2{
  box-sizing: border-box;
  display: block;
  float: left;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 20%
}

#wrapper{
  position: relative;
  min-height:100%;
}

body{
  height:100% !important;
}

.brand{
  // -moz-transform: rotate(-20deg);
  // -ms-transform: rotate(-20deg);
  // -o-transform: rotate(-20deg);
  // -webkit-transform: rotate(-20deg);
  // transform: rotate(-20deg);
  width:400px;
  margin-left:50px;
  font-family: 'Radley', serif;
  color:white;
  font-size:40px;
}

#calendar{
  .fc-event{
    cursor:pointer;
  }
}

.background-image{
  width:100%;
}
.transparent{
  height:auto;
  max-height:600px;
  width:100%;
  overflow:hidden !important;
}
.event_box{
  position: fixed;
  height:400px;
  width:300px;
  right:-100%;
  top:25%;
  border-top-left-radius: $borderRadius;
  border-bottom-left-radius: $borderRadius;
  border: 3px solid $primaryColor;
  background-color: white;
  padding:$baseLineHeight;
  .event_title{
    width:100%;
  }
  .event_subtitle{
    width:100%;
  }
  .event_image{
    width:100%;
  }
  .event_body{
    width:100%;
  }
}
.headline{
  padding:15px;
  background-color: $primaryColor;
  background-size: 100%;
  border-top-left-radius:$borderRadius;
}
.page_title{
  margin-bottom: 30px;
}
.scaff_row{
  min-height: 0px !important;
  margin-left:0px;
}
.open-nav-slider:hover{
  background-color: white;
  color:#000000;
  border-bottom:1px solid $primaryColor;
}
.open-nav-slider{
  position: fixed;
  display: none;
  bottom:0;
  z-index:20;
  margin-left:1px;
  color:white;
  width:30px;
  height:29px;
  padding:10px;
  cursor:pointer;
  text-align: center;
}
body.noscroll{
  position: fixed;
  overflow-y: scroll;
  width: 100%;
  height:100%;
}

.nav-helper{
  display: block;
  float: left;
  height: 10px;
  width: 230px;
}

.footer{
  position: static;
  padding-top:15px;
  padding-bottom:15px;
  color:white;
  text-align: right;
  width:100%;
  bottom:0;
  height:27px;
  background: rgba($primaryColor, 1);
  a{
    color:white;
    margin-right: 50px;
    font-size:20px;
  }
  a:hover{
    color:white;
  }
}

@media (max-width: $phoneSnap){
  .nav-container{
    margin-left:0px;
  }
  .footer{
    display: none !important;
  }

  .brand{
    margin-left:40px;
    font-size:30px;
  }

  body{
    height:100% !important;
    padding:0 !important;
    margin-top:0px !important;
    margin-bottom:50px !important;
  }
  .open-nav-slider{
    display:block !important;
  }
  .scaff_row{
    margin-left:0px !important;
  }
  .headline{
    z-index:10;
    position: fixed;
    width:100%;
    bottom:0;
    border-radius:0px;
  }
}
@media (max-width: $tabletSnap){
  body{
    height:100% !important;
    padding:0 !important;
    margin-top:0px !important;
  }
  .row-fluid{
    .span10{
      width:100% !important;
      margin-left:0px !important;
    }
  }
  .scaff_row{
    margin-left:0px !important;
  }
  .headline{
    border-radius: 0px;
    // height:0px;
  }
}
.lghk-wrapper{
  min-height: 0px !important;
  background-color:white;
  border-bottom:none !important;
  // border-top-left-radius:25px;
  // border-top-right-radius:25px;
  min-height:700px;
  border-right:1px solid black;
  border-left:1px solid black;
}
#content-wrapper{
  h3.brown{
    color: $primaryColor;
  }
  .yield-nav{
    padding-bottom:$borderRadius;
    // padding-top:$borderRadius;
    display: block;
    position: fixed;
    width:230px;
    // border-bottom-left-radius:$borderRadius;
    border-bottom-right-radius:$borderRadius;
    background-color:$primaryColor;
    // border-top:1px solid black;
  }
  .yield-container{
    background-color: #FFFFFF;
    word-wrap: break-word !important;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    color: rgb(46, 46, 46);
    display: inline;
    float: left;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16.363636016845703px;
    line-height: 25px;
    min-height: 35px;
    width: 74.358974359%;
    padding:15px;
    margin-left:2%;
    .page-head{
      width:100%;
      margin-left:-37px;
      margin-top:-15px;
      height:150px;
      .branding{
        float:left;
        line-height: 100px;
        text-align: center;
        width:20%;
        height:150px;
        .in_icon{
          margin-top:-160px;
          margin-left:0px;
        }
      }
      .title{
        float:left;
        height:100px;
        padding-top:25px;
        padding-bottom:25px;
        line-height: 100px;
        margin-left: 37px;
        width:60%;
      }
    }
    .page_jumper{
      text-decoration: none !important;
    }
  }
  .nav-container{
    margin-left:29px;
    float:left;
    color:#FFFFFF;
    width:230px;
    padding-bottom:2px;
    .divider_area{
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
      box-sizing: border-box;         /* Opera/IE 8+ */
      width:100%;
      padding:5px;
      text-align: center;
    }
    @media (max-width: $phoneSnap){
      .navdivider{
        display: none !important;
        position:absolute;
        bottom:5px;
        left:55%;
      }
    }
    .navdivider{
      &.rotated-180{
        transform: rotate(180deg);
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Safari and Chrome */
      }
    }
    .navbar_glyph{
      z-index: 3010;
      transform: rotate(270deg);
      -ms-transform: rotate(270deg); /* IE 9 */
      -webkit-transform: rotate(270deg); /* Safari and Chrome */
      display:none;
      position: absolute;
      width:200px;
      height:200px;
      pointer-events:none;
      top:0;
      left:0;
    }
    .close-nav-slider{
      color:white;
      width:30px;
      height:30px;
      display: none;
      float:right;
      padding:10px;
      cursor:pointer;
      text-align: center;
    }
    .close-nav-slider:hover{
      background-color: white;
      color:#000000;
      // border-bottom:1px solid $primaryColor;
    }
    @media (max-width: $tabletSnap){
      ul.custom_nav{
        margin-top:2px !important;
      }
    }
    ul.custom_nav{
      margin-top:-2px;
      margin-left:0px;
      margin-bottom:0px;
      li{
        .dropdown{
          background-color: white;
          display:none;
          margin-left:2px;
          margin-top:2px;
          li{
            a{
              border-left:none !important;
            }
            margin-top:0px;
            margin-left:20px;
            background-color: $primaryColor;
          }
        }
        margin-top:2px;
        a{
          cursor: pointer;
          &.active{
            background-color: #FFFFFF;
            border-left: 2px solid $primaryColor !important;
            border-right: 2px solid $primaryColor !important;
            color:$textColor !important;
            text-decoration: none !important;
          }
          -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
          -moz-box-sizing: border-box;    /* Firefox, other Gecko */
          box-sizing: border-box;         /* Opera/IE 8+ */
          padding-left:$baseLineHeight;
          display: block;
          color:white !important;
          font-weight: bold !important;
          text-shadow: $textShadow !important;
          width:100% !important;
          margin-left:0px;
        }
        a:hover{
          background-color: #FFFFFF;
          border-left: 2px solid $primaryColor !important;
          border-right: 2px solid $primaryColor !important;
          color:$textColor !important;
          text-decoration: none !important;
        }
      }
    }
  }
  @media all and (min-width: $tabletSnap){
    .nav-container{
      background-color:$primaryColor;
    }
  }
  @media all and (max-width: $tabletSnap) and (min-width: $phoneSnap){
   .nav-container{
      margin-left: 0px;
      background-color:$primaryColor;
      width:100% !important;
      ul.custom_nav{
        li{
          a{
            padding-top:$baseLineHeight;
            padding-bottom:$baseLineHeight;
            font-size:20px;

          }
        }
      }
      .yield-nav{
        display: none;
      }
      .close-nav-slider{
        display: none;
      }
    }
    .yield-container{
      width:100% !important;
      margin-left: 0px !important;
    }
  }
  @media (max-width: $phoneSnap){
    .nav-container{
      margin-left: 0px ;
      position: absolute;
      height:100%;
      width:100%;
      background-color: none !important;
      top:0;
      z-index:500;
      left:-102%;
      .link_area{
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
        border-right:5px inset darken($primaryColor, 10%);
        background-color: $mobileNavColor;
        width:80%;
        height:100%;
        float:left;
        ul.custom_nav{
          position: absolute;
          bottom:0px;
          width:80%;
          z-index:3300;
          li{
            a{
              padding-top:$baseLineHeight/2;
              padding-bottom:$baseLineHeight/2;
              font-size:20px;

            }
          }
        }
        .yield-nav{
          display: none;
        }
        .navbar_glyph{
          display: block;
        }
        .close-nav-slider{
          display: block;
        }
      }
      .close-nav-touch{
        float:left;
        width:20%;
        height:100%;
        background-color:black;
        opacity:0.7;
        cursor: pointer;
        display: none;
      }
    }
    .yield-container{
      width:100% !important;
      margin-left: 0px !important;
    }
  }
}
